<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">Servirtium In Different Languages</span></h1>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Language</th>
            <th scope="col">Implementation</th>
            <th scope="col">Demo of use</th>
            <th scope="col">Readiness for use</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">JavaScript/TypeScript</th>
            <td><a href="https://github.com/servirtium/servirtium-javascript">servirtium-javascript</a></td>
            <td><a href="https://github.com/servirtium/demo-javascript-climate-tck">demo-javascript-climate-tck</a></td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">.NET</th>
            <td><a href="https://github.com/servirtium/servirtium-dotnet">servirtium-dotnet</a></td>
            <td><a href="https://github.com/servirtium/demo-dotnet-climate-tck">demo-dotnet-climate-tck</a></td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">Go</th>
            <td><a href="https://github.com/servirtium/servirtium-go">servirtium-go</a></td>
            <td><a href="https://github.com/servirtium/demo-go-climate-tck">demo-go-climate-tck</a></td>
            <td>90%</td>
        </tr>
        <tr>
            <th scope="row">Java, Kotlin etc</th>
            <td><a href="https://github.com/http4k/servirtium-kotlin">http4k/servirtium-kotlin</a></td>
            <td><a href="https://github.com/servirtium/demo-kotlin-climate-tck">demo-kotlin-climate-tck</a></td>
            <td>90%</td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">Servirtium Example Projects on Github</span></h1>
        </div>
    </div>
    <div class="row">
        {% for project in site.data.index.example_projects %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if forloop.last %}
                {% if forloop.last == forloop.first %}
            <div class="col-sm-6 wow col-sm-offset-3 zoomIn">
                {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft col-sm-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
            {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
            {% endif %}
              <div class="team-member">
                  <img src="{{ project.img | prepend: site.baseurl }}" class="img-responsive img-small" alt="">
                  <h4>
                  {% if project.url %}
                  <a href="{{ project.url }}" target="_blank"><span class="navy">{{ project.name }}</span></a>
                  {% elsif project.repo %}
                  <a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank"><span class="navy">{{ project.name }}</span></a>
                  {% else %}
                  <span class="navy">{{ project.name }}</span>
                  {% endif %}
                  </h4>
                  <p><span data-i18n="projects.{{ project.i18n }}">{{ project.desc }}</span></p>
                  {% if project.repo %}
                  <div user="{{ project.gh_user }}" repo="{{ project.repo }}" class="ghbtn">
                      <a target="_blank" style="width: 65px;" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers" class="btn btn-white btn-xs star"><i class="fa fa-star"></i> ...</a>&emsp;&emsp;
                      <a target="_blank" style="width: 65px;" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network" class="btn btn-white btn-xs fork"><i class="fa fa-code-fork"></i> ...</a>
                      <div style="height: 10px;"></div>
                  </div>
                  {% endif %}
              </div>
          </div>
      {% endfor %}
    </div>
</div>
<br>
