<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">Servirtium In Different Languages</span></h1>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Language</th>
            <th scope="col">Implementation</th>
            <th scope="col">Self-contained demo repo using "Climate API" library concept</th>
            <th scope="col">Authors</th>
            <th scope="col">Readiness for use</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">JavaScript &amp; TypeScript</th>
            <td><a href="https://github.com/servirtium/servirtium-javascript">servirtium-javascript</a></td>
            <td><a href="https://github.com/servirtium/demo-javascript-climate-tck">demo-javascript-climate-tck</a> (Jest)</td>
            <td>Duong Pham</td>
            <td>95%</td>
        </tr>
        <tr>
            <th scope="row">.NET</th>
            <td><a href="https://github.com/servirtium/servirtium-dotnet">servirtium-dotnet</a></td>
            <td><a href="https://github.com/servirtium/demo-dotnet-climate-tck">demo-dotnet-climate-tck</a> (Xunit)</td>
            <td>Stephen Hand</td>
            <td>95%</td>
        </tr>
        <tr>
            <th scope="row">Go</th>
            <td><a href="https://github.com/servirtium/servirtium-go">servirtium-go</a></td>
            <td><a href="https://github.com/servirtium/demo-go-climate-tck">demo-go-climate-tck</a> (testing)</td>
            <td>Duong Pham</td>
            <td>95%</td>
        </tr>
        <tr>
            <th scope="row">Java, Kotlin etc</th>
            <td><a href="https://github.com/http4k/http4k/tree/master/http4k-testing/servirtium">http4k-testing/servirtium</a></td>
            <td><a href="https://github.com/http4k/servirtium-demo-kotlin-climate-tck">http4k/servirtium-demo-kotlin-climate-tck</a>
                - Kotlin <strong>and also</strong> Java (JUnit5). <a href="https://github.com/servirtium/jbehave-servirtium-climate-tck-demo">jbehave-servirtium-climate-tck-demo</a> (JBehave)</td>
            <td>David Denton</td>
            <td>95%</td>
        </tr>
        <tr>
            <th scope="row">Python</th>
            <td><a href="https://github.com/servirtium/servirtium-python">servirtium-python</a></td>
            <td><a href="https://github.com/servirtium/demo-python-climate-tck">demo-python-climate-tck</a> (PyTest)</td>
             <td>Steve Freeman, Yogesh Naik &amp; Ross Fung</td>
            <td>70%</td>
        </tr>
        <tr>
            <th scope="row">Ruby</th>
            <td><a href="https://github.com/servirtium/servirtium-ruby">servirtium-ruby</a></td>
            <td><a href="https://github.com/servirtium/demo-ruby-climate-tck">demo-ruby-climate-tck</a> (RSpec)</td>
             <td>Rob Park</td>
            <td>90%</td>
        </tr>
        <tr>
            <th scope="row">Dart (and Flutter)</th>
            <td><a href="https://github.com/servirtium/servirtium-dart">servirtium-dart</a></td>
            <td><a href="https://github.com/servirtium/demo-dart-climate-tck">demo-dart-climate-tck</a> (Test)
                and for iOS <a href="https://github.com/servirtium/demo-flutter-climate-tck">demo-flutter-climate-tck</a> (flutter_driver)</td>
            <td>Khaleel Shaheen & Hemanth Raj V</td>
            <td>90%</td>
        </tr>
        <tr>
            <th scope="row">Rust</th>
            <td><a href="https://github.com/servirtium/servirtium-rust">servirtium-rust</a></td>
            <td><a href="https://github.com/servirtium/demo-rust-climate-tck">demo-rust-climate-tck</a></td>
            <td>Denis Karpovskiy</td>
            <td>90%</td>
        </tr>
        <tr>
            <th scope="row">Elixir</th>
            <td><a href="https://github.com/servirtium/servirtium-elixir">servirtium-elixir</a></td>
            <td><a href="https://github.com/servirtium/demo-elixir-climate-tck">demo-elixir-climate-tck</a> (ExUnit)</td>
            <td>Josh Price</td>
            <td>50%</td>
        </tr>
        <tr>
            <th scope="row">Legacy Java</th>
            <td><a href="https://github.com/servirtium/servirtium-java">servirtium-java</a></td>
            <td><a href="https://github.com/servirtium/demo-java-climate-tck">demo-java-climate-tck</a> (JUnit4)</td>
            <td>Paul Hammant</td>
            <td>95%</td>
        </tr>
        <tr>
            <th scope="row">Haskell</th>
            <td><a href="https://github.com/servirtium/servirtium-haskell"></a></td>
            <td><a href="https://github.com/servirtium/servirtium-haskell">early days ...</a> (?)</td>
            <td>Charlie Austin</td>
            <td>5%</td>
        </tr>
        </tbody>
    </table>
</div>
<br>
