<section id="discussion" class="features " style="margin-top: 0;">
    <div class="container" id="i18_tcks">
        <div class="row m-b-lg">
            <div class="col-lg-8 col-lg-offset-2 text-left m-t-lg m-b-lg wow zoomIn">
                <div class="navy-line"></div>
                <h1><span data-i18n="tcks.tcks">TCKs - What's that about?</span></h1>
                <p><a href="https://en.wikipedia.org/wiki/Technology_Compatibility_Kit">Technology Compatibility Kit is
                    best known as a 2004 source set that Sun released to allow (subject to license) other implementation
                    of Java.</a>. For Servirtium, a previously recorded set of HTTP interactions would be stored in
                    souce control adjacent to the tests they correspond to and used in TWO ways: </p>
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xl="http://www.w3.org/1999/xlink" version="1.1" viewBox="178.5 -501.9375 586.875 523.6355"
                     width="586.875" height="523.6355">
                    <defs>
                        <font-face font-family="Helvetica Neue" font-size="16" panose-1="2 0 8 3 0 0 0 9 0 4"
                                   units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0"
                                   x-height="517" cap-height="714" ascent="975.0061" descent="-216.99524"
                                   font-weight="700">
                            <font-face-src>
                                <font-face-name name="HelveticaNeue-Bold"/>
                            </font-face-src>
                        </font-face>
                        <font-face font-family="Helvetica Neue" font-size="16" panose-1="2 0 5 3 0 0 0 2 0 4"
                                   units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0"
                                   x-height="517" cap-height="714" ascent="951.9958" descent="-212.99744"
                                   font-weight="400">
                            <font-face-src>
                                <font-face-name name="HelveticaNeue"/>
                            </font-face-src>
                        </font-face>
                        <font-face font-family="Helvetica Neue" font-size="22" panose-1="2 0 8 3 0 0 0 9 0 4"
                                   units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0"
                                   x-height="517" cap-height="714" ascent="975.0061" descent="-216.99524"
                                   font-weight="700">
                            <font-face-src>
                                <font-face-name name="HelveticaNeue-Bold"/>
                            </font-face-src>
                        </font-face>
                    </defs>
                    <metadata> Produced by OmniGraffle 7.12.1
                        <dc:date>2019-12-28 15:32:16 +0000</dc:date>
                    </metadata>
                    <g id="TCKs" stroke="none" fill="none" stroke-dasharray="none" stroke-opacity="1" fill-opacity="1">
                        <title>TCKs</title>
                        <g id="TCKs: Layer 1">
                            <title>Layer 1</title>
                            <g id="Graphic_9">
                                <path d="M 207 -500.4375 L 736.875 -500.4375 C 751.7867 -500.4375 763.875 -488.3492 763.875 -473.4375 L 763.875 -51.75 C 763.875 -36.83831 751.7867 -24.75 736.875 -24.75 L 207 -24.75 C 192.08831 -24.75 180 -36.83831 180 -51.75 L 180 -473.4375 C 180 -488.3492 192.08831 -500.4375 207 -500.4375 Z"
                                      stroke="#ff9300" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            </g>
                            <g id="Graphic_5">
                                <path d="M 226.125 -481.5 L 486 -481.5 C 500.9117 -481.5 513 -469.4117 513 -454.5 L 513 -66.375 C 513 -51.46331 500.9117 -39.375 486 -39.375 L 226.125 -39.375 C 211.2133 -39.375 199.125 -51.46331 199.125 -66.375 L 199.125 -454.5 C 199.125 -469.4117 211.2133 -481.5 226.125 -481.5 Z"
                                      stroke="#00fa00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                            </g>
                            <g id="Graphic_7">
                                <path d="M 249.75 -464.625 L 721.125 -464.625 C 736.0367 -464.625 748.125 -452.5367 748.125 -437.625 L 748.125 -237.375 C 748.125 -222.4633 736.0367 -210.375 721.125 -210.375 L 249.75 -210.375 C 234.8383 -210.375 222.75 -222.4633 222.75 -237.375 L 222.75 -437.625 C 222.75 -452.5367 234.8383 -464.625 249.75 -464.625 Z"
                                      stroke="#ff2600" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                <text transform="translate(234.75 -459.625)" fill="black">
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="353.839" y="16">Build Infrastructure
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="406.287" y="35.46411">- Automated
                                    </tspan>
                                </text>
                            </g>
                            <g id="Graphic_2">
                                <path d="M 340.5468 -198 L 475.0812 -198 C 490.9947 -198 503.91 -164.56023 503.91 -123.35767 C 503.91 -82.1551 490.9947 -48.71533 475.0812 -48.71533 L 340.5468 -48.71533 C 324.6333 -48.71533 311.718 -82.1551 311.718 -123.35767 C 311.718 -164.56023 324.6333 -198 340.5468 -198 Z"
                                      stroke="#00fa00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                <text transform="translate(331.9372 -188.43372)" fill="black">
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="29.5088" y="16">Developers*
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x=".30080054" y="34.46411">running tests on their
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="5.2128005" y="52.91211">workstations before
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="4.5888005" y="71.36011">committing/pushing
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="8.308801" y="89.80811">functional changes
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="10.6848" y="108.2561">to prod code (with
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="20.3168" y="126.7041">tests obviously)
                                    </tspan>
                                </text>
                            </g>
                            <g id="Graphic_3">
                                <path d="M 268.79375 -443.25 L 427.08125 -443.25 C 445.8044 -443.25 461 -422.082 461 -396 C 461 -369.918 445.8044 -348.75 427.08125 -348.75 L 268.79375 -348.75 C 250.0706 -348.75 234.875 -369.918 234.875 -396 C 234.875 -422.082 250.0706 -443.25 268.79375 -443.25 Z"
                                      stroke="#00fa00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                <text transform="translate(262.4875 -433.40405)" fill="black">
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="3.353997" y="16"></tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           y="16">Jobs
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           y="16"> double checking
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="2.481997" y="34.46411">what developers did as
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="18.769997" y="52.91211">part of Continuous
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="33.009997" y="71.36011">Integration (CI)
                                    </tspan>
                                </text>
                            </g>
                            <g id="Graphic_4">
                                <path d="M 559.63125 -405 L 703.74375 -405 C 720.7902 -405 734.625 -366.46992 734.625 -318.99536 C 734.625 -271.5208 720.7902 -232.99072 703.74375 -232.99072 L 559.63125 -232.99072 C 542.5848 -232.99072 528.75 -271.5208 528.75 -318.99536 C 528.75 -366.46992 542.5848 -405 559.63125 -405 Z"
                                      stroke="#ff2600" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                <text transform="translate(550.3375 -392.78735)" fill="black">
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="10.669998" y="15">Jobs (non-CI) doing
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="26.366" y="33.448">intermittent re-
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x=".005998474" y="51.895996">recording of Servirtium
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="3.5499985" y="70.34399">markdown by running
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="8.141998" y="88.79199">via the same tests in
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="13.469998" y="107.23999">record mode and a
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="2.5339985" y="125.68799">deliberate job failure if
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="17.757998" y="144.13599">different to before
                                    </tspan>
                                </text>
                            </g>
                            <g id="Graphic_6">
                                <text transform="translate(209.75 -193)" fill="black">
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="4.128" y="16">Continuous
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           y="16"></tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="4.288" y="35.46411">use of prior
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="8.88" y="54.92822">Servirtium
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="7.096" y="74.39233">recordings
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="2.224" y="93.85645">(in playback
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           x="24" y="113.32056">mode)
                                    </tspan>
                                </text>
                            </g>
                            <g id="Graphic_8">
                                <path d="M 301.0625 -323.11572 L 466.4375 -323.11572 C 485.999 -323.11572 501.875 -304.71972 501.875 -282.05322 C 501.875 -259.38672 485.999 -240.99072 466.4375 -240.99072 L 301.0625 -240.99072 C 281.501 -240.99072 265.625 -259.38672 265.625 -282.05322 C 265.625 -304.71972 281.501 -323.11572 301.0625 -323.11572 Z"
                                      stroke="#00fa00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                <text transform="translate(294.25 -310.23328)" fill="black">
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="7.404" y="16"></tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black"
                                           y="16">Jobs
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           y="16"> double checking
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="6.388" y="34.46411">what developers on PR
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="56.308" y="52.91211">branches
                                    </tspan>
                                </text>
                            </g>
                            <g id="Graphic_10">
                                <text transform="translate(558.5 -173.125)" fill="black">
                                    <tspan font-family="Helvetica Neue" font-size="22" font-weight="700" fill="black"
                                           x="34.5915" y="21">Uses of
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="22" font-weight="700" fill="black"
                                           x="7.6965" y="47.638153">service tests
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="22" font-weight="700" fill="black"
                                           x="11.3595" y="74.27631">that depend
                                    </tspan>
                                    <tspan font-family="Helvetica Neue" font-size="22" font-weight="700" fill="black"
                                           x="4.2425" y="100.91446">on Servirtium
                                    </tspan>
                                </text>
                            </g>
                            <g id="Graphic_11">
                                <text transform="translate(390.875 -1.75)" fill="black">
                                    <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black"
                                           x="61106675e-20" y="15">* and test engineers
                                    </tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </svg>

            </div>
        </div>
    </div>
</section>
