<section id="tcks" class="features " style="margin-top: 0;">
    <div class="container" id="i18_tcks">
        <div class="row m-b-lg">
            <div class="col-lg-8 col-lg-offset-2 text-left m-t-lg m-b-lg wow zoomIn">
                <div class="navy-line"></div>
                <div class="col-lg-12 text-center">
                    <h1><span data-i18n="tcks.tcks">TCKs - What's that about?</span></h1>
                </div>
                <p>Technology Compatibility Kit is
                    best known as a <a href="https://en.wikipedia.org/wiki/Technology_Compatibility_Kit">2004 source set
                        that Sun released to allow (subject to license) other implementation
                        of Java</a>. For Servirtium, a previously recorded set of HTTP interactions would be stored in
                    source-control adjacent to the tests they correspond to and used in TWO broad ways: </p>
                <div class="col-lg-12 text-center">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2000/svg" xmlns:xl="http://www.w3.org/1999/xlink" version="1.1" viewBox="178.5 -501.9375 586.875 523.6355">
                        <defs>
                            <font-face font-family="Helvetica Neue" font-size="16" panose-1="2 0 8 3 0 0 0 9 0 4" units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0" x-height="517" cap-height="714" ascent="975.0061" descent="-216.99524" font-weight="700">
                                <font-face-src>
                                    <font-face-name name="HelveticaNeue-Bold"/>
                                </font-face-src>
                            </font-face>
                            <font-face font-family="Helvetica Neue" font-size="16" panose-1="2 0 5 3 0 0 0 2 0 4" units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0" x-height="517" cap-height="714" ascent="951.9958" descent="-212.99744" font-weight="400">
                                <font-face-src>
                                    <font-face-name name="HelveticaNeue"/>
                                </font-face-src>
                            </font-face>
                            <font-face font-family="Helvetica Neue" font-size="22" panose-1="2 0 8 3 0 0 0 9 0 4" units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0" x-height="517" cap-height="714" ascent="975.0061" descent="-216.99524" font-weight="700">
                                <font-face-src>
                                    <font-face-name name="HelveticaNeue-Bold"/>
                                </font-face-src>
                            </font-face>
                        </defs>
                        <metadata> Produced by OmniGraffle 7.12.1
                            <dc:date>2019-12-28 19:00:37 +0000</dc:date>
                        </metadata>
                        <g id="TCKs" stroke="none" fill="none" stroke-dasharray="none" stroke-opacity="1" fill-opacity="1">
                            <title>TCKs</title>
                            <g id="TCKs: Layer 1">
                                <title>Layer 1</title>
                                <g id="Graphic_9">
                                    <path d="M 207 -500.4375 L 736.875 -500.4375 C 751.7867 -500.4375 763.875 -488.3492 763.875 -473.4375 L 763.875 -51.75 C 763.875 -36.83831 751.7867 -24.75 736.875 -24.75 L 207 -24.75 C 192.08831 -24.75 180 -36.83831 180 -51.75 L 180 -473.4375 C 180 -488.3492 192.08831 -500.4375 207 -500.4375 Z" stroke="#ff9300" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                </g>
                                <g id="Graphic_5">
                                    <path d="M 226.125 -481.5 L 486 -481.5 C 500.9117 -481.5 513 -469.4117 513 -454.5 L 513 -66.375 C 513 -51.46331 500.9117 -39.375 486 -39.375 L 226.125 -39.375 C 211.2133 -39.375 199.125 -51.46331 199.125 -66.375 L 199.125 -454.5 C 199.125 -469.4117 211.2133 -481.5 226.125 -481.5 Z" stroke="#00fa00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                </g>
                                <g id="Graphic_7">
                                    <path d="M 249.75 -464.625 L 721.125 -464.625 C 736.0367 -464.625 748.125 -452.5367 748.125 -437.625 L 748.125 -237.375 C 748.125 -222.4633 736.0367 -210.375 721.125 -210.375 L 249.75 -210.375 C 234.8383 -210.375 222.75 -222.4633 222.75 -237.375 L 222.75 -437.625 C 222.75 -452.5367 234.8383 -464.625 249.75 -464.625 Z" stroke="#ff2600" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                    <text transform="translate(234.75 -456.625)" fill="black">
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="353.839" y="16">Build Infrastructure </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="344.351" y="35.46411">- Running Servirtium </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="372.799" y="54.92822">Automated Tests</tspan>
                                    </text>
                                </g>
                                <g id="Graphic_2">
                                    <path d="M 339.5115 -198 L 474.8985 -198 C 490.91285 -198 503.91 -164.56023 503.91 -123.35767 C 503.91 -82.1551 490.91285 -48.71533 474.8985 -48.71533 L 339.5115 -48.71533 C 323.49715 -48.71533 310.5 -82.1551 310.5 -123.35767 C 310.5 -164.56023 323.49715 -198 339.5115 -198 Z" stroke="#00fa00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                    <text transform="translate(330.841 -187.92566)" fill="black">
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="33.252" y="15">Developers*</tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x=".7879984" y="33.448">running tests on their </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="5.6999984" y="51.895996">workstations before </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="5.0759984" y="70.34399">committing/pushing </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="8.795998" y="88.79199">functional changes </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="11.171998" y="107.23999">to prod code (with </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="20.803998" y="125.68799">tests obviously)</tspan>
                                    </text>
                                </g>
                                <g id="Graphic_3">
                                    <path d="M 268.79375 -443.25 L 427.08125 -443.25 C 445.8044 -443.25 461 -421.074 461 -393.75 C 461 -366.426 445.8044 -344.25 427.08125 -344.25 L 268.79375 -344.25 C 250.0706 -344.25 234.875 -366.426 234.875 -393.75 C 234.875 -421.074 250.0706 -443.25 268.79375 -443.25 Z" stroke="#00fa00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                    <text transform="translate(262.4875 -430.646)" fill="black">
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="1.729997" y="15"> Continuous Integration </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="27.073997" y="33.448">(CI) jobs running </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="21.289997" y="51.895996">Servirtium tests in </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="30.465997" y="70.34399">playback mode</tspan>
                                    </text>
                                </g>
                                <g id="Graphic_4">
                                    <path d="M 559.63125 -387.39507 L 703.74375 -387.39507 C 720.7902 -387.39507 734.625 -352.645 734.625 -309.82793 C 734.625 -267.01087 720.7902 -232.2608 703.74375 -232.2608 L 559.63125 -232.2608 C 542.5848 -232.2608 528.75 -267.01087 528.75 -309.82793 C 528.75 -352.645 542.5848 -387.39507 559.63125 -387.39507 Z" stroke="#ff2600" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                    <text transform="translate(550.3375 -365.17193)" fill="black">
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="30.23" y="15">Jobs (non-CI / </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="9.621998" y="33.448">intermittent</tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" y="33.448">) running </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="17.189998" y="51.895996">Servirtium tests in </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="1.9259985" y="70.34399">record mode … with a </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="2.5339985" y="88.79199">deliberate job failure if </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="9.157998" y="107.23999">different than before</tspan>
                                    </text>
                                </g>
                                <g id="Graphic_6">
                                    <text transform="translate(209.75 -193)" fill="black">
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="4.128" y="16">Continuous</tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" y="16"> </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="4.288" y="35.46411">use of prior </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="8.88" y="54.92822">Servirtium </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="33.464" y="74.39233">test </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="7.096" y="93.85645">recordings </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="2.224" y="113.32056">(in playback </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="700" fill="black" x="24" y="132.78467">mode)</tspan>
                                    </text>
                                </g>
                                <g id="Graphic_8">
                                    <path d="M 301.0625 -323.11572 L 466.4375 -323.11572 C 485.999 -323.11572 501.875 -304.71972 501.875 -282.05322 C 501.875 -259.38672 485.999 -240.99072 466.4375 -240.99072 L 301.0625 -240.99072 C 281.501 -240.99072 265.625 -259.38672 265.625 -282.05322 C 265.625 -304.71972 281.501 -323.11572 301.0625 -323.11572 Z" stroke="#00fa00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                                    <text transform="translate(294.25 -318.9492)" fill="black">
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="16.748" y="15"> Push-triggered jobs </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="4.74" y="33.448">running Servirtium tests </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="23.124" y="51.895996">for PR branches in </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="34.516" y="70.34399">playback mode</tspan>
                                    </text>
                                </g>
                                <g id="Graphic_10">
                                    <text transform="translate(558.5 -166.125)" fill="black">
                                        <tspan font-family="Helvetica Neue" font-size="22" font-weight="700" fill="black" x="6.4645" y="21">Service tests </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="22" font-weight="700" fill="black" x="11.3595" y="47.638153">that depend </tspan>
                                        <tspan font-family="Helvetica Neue" font-size="22" font-weight="700" fill="black" x="4.2425" y="74.27631">on Servirtium </tspan>
                                    </text>
                                </g>
                                <g id="Graphic_11">
                                    <text transform="translate(390.875 -1.75)" fill="black">
                                        <tspan font-family="Helvetica Neue" font-size="16" font-weight="400" fill="black" x="61106675e-20" y="15">* and test engineers</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>
                <p>
                    Developers, test engineers and the CI-related automated jobs are running service tests in playback
                    mode
                    <strong>thousands or millions of times a day</strong>, and always pass quickly. If they fail that's
                    something that can
                    be fixed before commit/push and integration into trunk/master.</p>
                <p>
                    Because something could incompatible versus the "real" service an <strong>hourly or daily</strong>
                    job is run in the same
                    build infrastructure that runs the same tests in record mode. Those tests could fail, in which case
                    the job fails an a developer investigates. If the service is flaky, this job can be run
                    with <code>retries=10</code>
                    mode (whatever that is for the test framework) and may be coerced into passing. Sometimes this is
                    needed because the vendor's infrastructure for "sandbox" is not as reliable as their production
                    service. If the test suite passes, one last check is made on the Servirtium recordings
                    (Servirtese?) before that build completes. That check is <code>git diff</code> and if there are
                    any, then the job deliberately fails and a developer would be asked to investigate.
                </p>
                <div style="margin-left:10%; margin-right:10%"><pre><code># Your regular compile and invocation
# of pertinent service tests here:

your_compile.sh # job could fail here
your_test_suite_invocation.sh  # job could fail here, too

# passed, so far, but one more job failure opportunity based on
# differences in the recorded Servirtium Markdown (versus that committed)

theDiff=$(git diff --unified=0 path/to/module/src/test/mocks/<wbr>)
if [[ -z "${theDiff}" ]]
then
      echo " - No differences versus recorded interactions committed to Git, so that's good"

else
      echo " - There SHOULD BE no differences versus last TCK
      echo "   recording, but there were - see build log :-(  "
      echo "**** DIFF ****:${theDiff}."
      exit 1
fi<br></code></pre></div>
                <p>
                    Oh and yes, a Markdown representation of one or more HTTP interactions is the easiest for eyeball
                    diffing of the changed recording. Indeed, XML and JSON payloads can be reformatted to be prettier still
                    in the markdown.
                </p>

                <div class="text-center">
                    <img src="/static/assets/img/landing/a_diff.png" style="max-width:100%;">
                </div>

                <br>
                <p>
                    In this case World Bank's Climate API responded one day with an extra "Keep Alive" header. And
                    the developer investigating decided it was probably OK to assume that it would be a regular
                    feature of the API. XML or JSON payload differences can be multi-line of course. Committing the
                    change (after a dev-workstation reproduction, means the same thing will not cause a TCK failure
                    in the future.
                </p>
            </div>
        </div>
    </div>
</section>
