<div class="container" id="i18_what_is_servirtium">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-left m-t-lg m-b-lg wow zoomIn">
            <h1><a id="user-content-what-is-servirtium" class="anchor" aria-hidden="true" href="#what-is-servirtium"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> What is Servirtium?</h1>
            <p>Servirtium aims to be <strong>a lingua franca for mock HTTP conversations using Markdown under source-control</strong>:</p>
            <ul>
                <li>with interoperable record and playback capability in Java, C#, Ruby, Python, NodeJS, Go, Rust and more.</li>
                <li>for test-automation purposes only</li>
                <li>API makers should get on board too, shipping markdown conversations for known test scenarios (as well as a sample test that would use that in their fave language)</li>
                <li>oh, and JSON/YAML is the <strong>wrong</strong> format for encoding HTTP conversations in - it is not pretty on the eye and not easily eyeball diffable</li>
            </ul>
            <h2><a id="user-content-in-common-with-other-service-virtualization-technologies" class="anchor" aria-hidden="true" href="#in-common-with-other-service-virtualization-technologies"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> In common with other "Service Virtualization" technologies</h2>
            <ul>
                <li>tests can leverage previously recorded HTTP conversations:</li>
                <li>are much faster than real services which can vary in speed at least, but are typically slower than desired</li>
                <li>don't fail in unexpected ways - real services can be flaky</li>
                <li>don't require credentials per person running the tests - real services often require API keys/tokens (even "sandbox" ones) and devs often share those against vendor (and employer) rules.</li>
            </ul>
            <h2><a id="user-content-the-markdown-difference" class="anchor" aria-hidden="true" href="#the-markdown-difference"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> The markdown difference</h2>
            <p>With Servirtium, the HTTP conversations for services invoked by running tests
                would be recorded and played back from the same Markdown format. Multiple language implementations would be able work with the same Markdown
                standard, and it would be possible to record a HTTP conversation with (say) a Ruby library using Test::Unit and the play them back via a
                (say) Java library for JUnit/TestNG test-writing teams. That would be for the situation where the Ruby team was publishing an API and
                bundled unit tests with it, but the team consuming API was in a different org/department and was using Java instead of Ruby.</p>
            <p>So this would be exclusively for test automation purposes. Production deployments would not use any Servirtium technologies - the <strong>real</strong> services would be hooked
                up there.</p>
            <h2><a id="user-content-related-contract-ideastools" class="anchor" aria-hidden="true" href="#related-contract-ideastools"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> Related contract ideas/tools.</h2>
            <p><a href="https://raml.org/" rel="nofollow">RAML</a> and <a href="https://swagger.io/" rel="nofollow">Swagger</a> are complimentary specification technologies, not competitive.</p>
        </div>
    </div>
</div>
